@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-100: #C7A27E;
  --primary-900: #F9F6F2;

  --white-1000: #FFFFFF;
  --black-1000: #000000;

  --grey-100: #0B0C10;
  --grey-200: #1D242D;
  --grey-500: #909090;
  --grey-900: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.body--fixed {
  height: 100dvh;
  overflow: hidden;
}

::-moz-selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}
::selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}

/* Null Styles */
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}
input {
  cursor: pointer;
  outline: none;
  border: none;
}

/* Components */
.button {}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

.section {}
.section__title {}

/* Content */
.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--grey-100);
}

.header {}
.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.logo {
  height: 43px;
}
.logo img {
  height: 100%;
}
.header__center {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  gap: 15px;
}
.header-search {
  flex: 1 1 auto;
  padding-right: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--grey-200);
  border-radius: 100px;
}
.header-search__button {
  padding: 15px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 15px;

  background-color: var(--primary-100);
}
.header-search__button img {
  display: block;
  height: 20px;
}
.header-search__button span {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--white-1000);
}
.header-search__input {
  display: block;
  flex: 1 1 auto;

  background-color: transparent;
  color: var(--white-1000);

  font-family: 'Roboto Flex';
  font-size: 14px;
}
.header-search__icon {
  height: 30px;
  cursor: pointer;
}
.header-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-phone__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-phone__hint {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
  margin-top: 5px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  opacity: 0.7;
  cursor: pointer;

  transition: 0.3s;
}
.header-icon:hover {
  opacity: 1;
}
.header-icon__text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-separator {
  border: none;
  border-bottom: 1px solid var(--white-1000);
}
.header-bottom {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;

  color: var(--white-1000);
  text-transform: uppercase;
}
.header-customers {
  padding: 16px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--grey-200);
  color: var(--white-1000);

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.main {}

.home-catalog {}

.home-order {}

.advantages {}

.form {}

.brands {}

.home-about {}

.home-articles {}

.footer {}
