@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-100: #C7A27E;
  --primary-900: #F9F6F2;

  --white-1000: #FFFFFF;
  --black-1000: #000000;

  --grey-100: #0B0C10;
  --grey-200: #1D242D;
  --grey-500: #909090;
  --grey-900: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.body--fixed {
  height: 100dvh;
  overflow: hidden;
}

::-moz-selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}
::selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}

/* Null Styles */
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}
input {
  cursor: pointer;
  outline: none;
  border: none;
}
label {
  margin: 0;
}

/* Components */
.button {
  display: block;
  width: fit-content;

  border: 1px solid var(--primary-100);
  background-color: var(--primary-100);
  color: var(--white-1000);

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;

  cursor: pointer;

  padding: 19px 50px;
  border-radius: 100px;

  transition: 0.3s;
}
.button--block {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button:hover {
  background-color: var(--white-1000);
  color: var(--primary-100);
}

.checkbox {
  --size: 16px;

  accent-color: var(--primary-100);
  
}
.checkbox__control {
  display: none;
}
.checkbox__label {
  display: block;
  margin: 0;

  width: var(--size);
  height: var(--size);

  background-color: transparent;
  border: 1px solid var(--white-1000);

  transition: 0.3s background-color;
}
.checkbox__control:checked + .checkbox__label {
  background-color: var(--primary-100);
  border: var(--primary-100);
}
.checkbox__check {
  display: block;
  width: 100%;
  height: 100%;
}
.checkbox__control:not(:checked) + .checkbox__label .checkbox__check {
  display: none;
}

.range {
  --point-size: 6px;
  --track-size: 4px;
  
  --value-min: 20%;
  --value-max: 80%;

  width: 100%;
  user-select: none;
}
.range__control {
  width: 100%;
  position: relative;
}
.range__track {
  width: 100%;
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  border: calc(var(--track-size) / 2) solid var(--grey-500);
  border-radius: 100px;
}
.range__thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: var(--value-min);
  width: calc(var(--value-max) - var(--value-min));

  border: calc(var(--track-size) / 2) solid var(--primary-100);
  border-radius: 100px;
}
.range__point {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: var(--point-size);
  height: var(--point-size);
  border-radius: var(--point-size);
  background-color: var(--primary-100);

  cursor: pointer;
}
.range__point::before {
  content: '';

  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: calc(var(--point-size) * 2);
  height: 30px;
}
.range__point--min {
  left: var(--value-min);
}
.range__point--max {
  left: var(--value-max);
}
.range__hints {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.range__hint {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35;
  color: var(--white-1000);
  user-select: none;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

.section {
  width: 100%;
}
.section--round-top {

}
.section--round-bottom {}
.section__title {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}

.palette {
  display: block;
  border-radius: 15px;
  background-color: var(--grey-200);
  transition: 0.3s;
}
.palette--active {
  box-shadow: 2px 2px 3px 0px var(--white-1000);
}
.palette--hoverable:hover {
  box-shadow: 2px 2px 3px 0px var(--white-1000);
}

.product-card {
  min-width: 250px;
  max-width: 320px;

  padding: 15px 30px 30px 30px;
  border-radius: 15px;

  background-color: var(--white-1000);
  cursor: pointer;

  transition: 0.3s box-shadow;
}
.product-card--active,
.product-card:hover {
  box-shadow: 2px 2px 3px 0px #C7A27E80;
}
.product-card__image {
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
}
.product-card__image img {
  display: block;
  height: 100%;
}
.product-card__body {
  margin-top: 15px;
}
.product-card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--black-1000);
}
.product-card__text {
  margin-top: 15px;

  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0px;

  color: var(--grey-500);
}
.product-card__line {
  line-height: 1.4;
}
.product-card__price {
  margin-top: 25px;

  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0px;

  color: var(--black-1000);
}
.product-card__footer {
  margin-top: 25px;

  display: flex;
  align-items: center;
  gap: 15px;
}
.product-card__button {
  font-weight: 500;
  font-size: 14px;
  padding: 13px 25px;
  text-wrap: nowrap;
}
.product-card__button:hover {
  background-color: var(--white-1000);
  color: var(--primary-100);
}
.product-card__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-card__icon {
  flex: 0 0 40px;
  height: 40px;

  border-radius: 5px;
  background-color: #C7A27E1A;
}

.tabs {
  width: 100%;
}
.tabs__header {
  display: flex;
  width: fit-content;

  border: 2px solid #C7A27E1A;
  background-color: #C7A27E1A;

  border-radius: 15px;
  overflow: hidden;
}
.tabs__link {
  flex: 0 0 380px;

  padding: 25px 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.5;
  color: var(--black-1000);

  text-transform: uppercase;
  cursor: pointer;

  transition: 0.3s background-color;
}
.tabs__link:not(:last-child) {
  border-right: 2px solid #C7A27E1A;
}
.tabs__link--active,
.tabs__link:hover {
  background-color: var(--white-1000);
}
.tabs__body {
  margin-top: 40px;
  width: 100%;
}
.tabs__page {
  width: 100%;
}
.tabs__page:not(.tabs__page--active) {
  display: none;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}
.article-card {
  aspect-ratio: 42 / 35;

  border-radius: 20px;
  overflow: hidden;

  position: relative;
  cursor: pointer;
}
.article-card__image {
  display: block;
  height: 100%;
  object-fit: cover;
}
.article-card__label {
  position: absolute;
  bottom: 20px;
  left: 0;

  width: 100%;
  padding: 15px 25px;
  background-color: #FFFFFF4D;
}
.article-card__name {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--white-1000);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
}
.breadcrumbs--white {
  color: var(--white-1000);
}
.breadcrumbs--grey {
  color: var(--grey-500);
}
.breadcrumbs__item:not(:last-child)::after {
  content: '/';
  padding-left: 10px;
}

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner--small {
  height: 365px;
}
.banner--medium {
  height: 435px;
}
.banner--big {
  height: 590px;
}
.banner__image {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  object-fit: cover;
  width: 100%;
  max-width: 1600px;
}
.banner .container {
  height: 100%;
}
.banner__content {
  height: 100%;
  position: relative;
}
.banner__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.banner__title {
  font-family: 'Roboto Flex', 'sans-serif';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--white-1000);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.banner__breadcrumbs {
  position: absolute;
  top: 60px;
  left: 0px;
}
.banner__right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

._index-list {
  padding: 40px;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
}
._index-list a {
  color: var(--black-1000);
}

/* Content */
.wrapper {
  min-height: 100%;
  width: 100%;
  background-color: var(--grey-100);
}

.header {
  width: 100%;
  position: relative;
}
.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.logo {
  height: 43px;
}
.logo img {
  height: 100%;
}
.header__center {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  gap: 15px;
}
.header-search {
  flex: 1 1 auto;
  padding-right: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--grey-200);
  border-radius: 100px;
}
.header-search__button {
  padding: 15px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 15px;

  background-color: var(--primary-100);
}
.header-search__button img {
  display: block;
  height: 20px;
}
.header-search__button span {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--white-1000);
}
.header-search__input {
  display: block;
  flex: 1 1 auto;

  background-color: transparent;
  color: var(--white-1000);

  font-family: 'Roboto Flex';
  font-size: 14px;
}
.header-search__icon {
  height: 30px;
  cursor: pointer;
}
.header-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-phone__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-phone__hint {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
  margin-top: 5px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  opacity: 0.7;
  cursor: pointer;

  transition: 0.3s;
}
.header-icon:hover {
  opacity: 1;
}
.header-icon__text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-separator {
  border: none;
  border-bottom: 1px solid var(--white-1000);
}
.header-bottom {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;

  color: var(--white-1000);
  text-transform: uppercase;
}
.header-customers {
  padding: 16px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--grey-200);
  color: var(--white-1000);

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.header-dropdown {
  width: 100%;
  padding: 20px 0px;

  position: absolute;
  z-index: 1;
  top: 100%;

  background-color: var(--grey-100);

  pointer-events: none;
  opacity: 0;
  height: 0;

  transition: 0.3s opacity, 0.3s background-color;
}
.header-dropdown--opened {
  height: auto;
  pointer-events: auto;
  opacity: 1;
}
.header-customers-dropdown .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.header-customers-dropdown-item {
  padding: 30px 45px;
  cursor: pointer;
  position: relative;
}
.header-customers-dropdown-item__title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: var(--primary-100);
  text-transform: uppercase;
}
.header-customers-dropdown-item__text {
  margin-top: 25px;
  width: 85%;

  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-customers-dropdown-item__link {
  position: absolute;
  right: 15px;
  bottom: 15px;

  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #C7A27E1A;
}
.header-customers-dropdown-item__link img {
  width: 16px;
}
.header-catalog-dropdown {
  display: flex;
}
.header-catalog-dropdown__left {
  flex: 0 0 auto;
  min-width: calc(50% - 215px);
  padding: 50px 20px 50px 10px;

  display: flex;
  justify-content: flex-end;

  background-color: var(--black-1000);
}
.header-catalog-dropdown-menu {
  width: 100%;
  max-width: 425px;
}
.header-catalog-dropdown-menu__link {
  display: block;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 30px;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-wrap: nowrap;
  text-transform: uppercase;
  color: var(--white-1000);

  padding: 25px 40px 25px 15px;
  border-radius: 8px;

  transition: 0.3s;
}
.header-catalog-dropdown-menu__link-icon {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-200);
  transition: 0.3s background-color;
}
.header-catalog-dropdown-menu__link-icon i {
  display: block;

  width: 20px;
  aspect-ratio: 1;
  
  background-color: var(--white-1000);
  transition: 0.3s background-color;

  -webkit-mask-image: var(--path);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: var(--path);
  mask-repeat: no-repeat;
  mask-size: contain;
}
.header-catalog-dropdown-menu__link:hover,
.header-catalog-dropdown-menu__link--active {
  background-color: var(--grey-200);
  color: var(--primary-100);
}
.header-catalog-dropdown-menu__link:hover .header-catalog-dropdown-menu__link-icon,
.header-catalog-dropdown-menu__link--active .header-catalog-dropdown-menu__link-icon {
  background-color: #C7A27E1A;
}
.header-catalog-dropdown-menu__link:hover i,
.header-catalog-dropdown-menu__link--active i {
  background-color: var(--primary-100);
}
.header-catalog-dropdown__right {
  flex: 1 1 50%;
  padding: 50px 10px 50px 100px; 

  background-color: var(--grey-100);
}
.header-catalog-dropdown__title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-catalog-dropdown__links {
  margin-top: 30px;
  max-width: 775px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 30px;
}
.header-catalog-dropdown__link {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;

  color: var(--white-1000);
  opacity: 0.7;

  transition: 0.3s opacity;
}
.header-catalog-dropdown__link:hover {
  opacity: 1;
}

.main {
  padding-bottom: 100px;
}
.categories {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}
.category-card {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.category-card__image {
  max-height: 120px;
}
.category-card__title {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--white-1000);
}
.main-info {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}
.main-info-sales {
  flex: 1;
  width: 50%;
  aspect-ratio: 68 / 38;

  background-image: url('./img/main-info-1.png');
  background-position: center;
  background-size: cover;

  border-radius: 20px;
  overflow: hidden;

  position: relative;
}
.main-info-sales__content {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.main-info-sales__title {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0px;
  color: var(--white-1000);
  max-width: 370px;
}
.main-info-sales__button {
  margin-top: 30px;
}
.main-info-proposition {
  flex: 1;
  width: 50%;
  aspect-ratio: 68 / 38;

  background-image: url('./img/main-info-2.png');
  background-position: center;
  background-size: cover;

  border-radius: 20px;
  overflow: hidden;

  position: relative;
}
.main-info-proposition__content {
  position: absolute;
  bottom: 20px;
  left: 0;

  width: 100%;
  padding: 30px;
  background-color: #FFFFFF4D;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
/* .main-info-proposition__text {} */
.main-info-proposition__title {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.main-info-proposition__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.main-info-proposition__button {
  padding-left: 40px;
  padding-right: 40px;
}

.home-catalog {
  padding-top: 90px;
  padding-bottom: 150px;
  border-radius: 30px 30px 0px 0px;
  background-color: var(--grey-900);
}

.home-catalog-nav {
  width: 100%;

  border-radius: 15px;
  overflow: hidden;
  
  border: 1px solid #C7A27E1A;
}
.home-catalog-nav__categories {
  width: 100%;
  display: flex;

  border-bottom: 1px solid var(--white-1000);
}
.home-catalog-nav__category {
  flex: 1;
  width: 33%;
  padding: 20px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000B3;
  text-transform: uppercase;

  transition: 0.3s;
  cursor: pointer;
}
.home-catalog-nav__category:not(:last-child) {
  border-right: 1px solid #C7A27E1A;
}
.home-catalog-nav__category--active,
.home-catalog-nav__category:hover {
  background-color: #C7A27E1A;
  color: var(--primary-100);
}
.home-catalog-nav__subcategories {
  background-color: #C7A27E1A;
  display: flex;
  justify-content: space-around;
}
.home-catalog-nav__subcategory {
  padding: 20px 0px;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000B3;

  transition: 0.3s;
  cursor: pointer;
}
.home-catalog-nav__subcategory--active,
.home-catalog-nav__subcategory:hover {
  color: var(--primary-100);
}
.home-catalog-content {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}
.home-catalog-footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.home-order {
  margin-top: -30px;
  position: relative;
}
.home-order img {
  display: block;
  width: 100%;
  border-radius: 30px;
}
.home-order .container {
  position: relative;
}
.home-order__content {
  position: absolute;
  max-width: 500px;
  bottom: 65px;
  right: 35px;

  padding: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);

  font-family: 'Roboto Flex';
}
.home-order__title {
  font-size: 36px;
  font-weight: 500;
  color: var(--white-1000);
  line-height: 1.1;
}
.home-order__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white-1000);

  margin-top: 30px;
}
.home-order__button {
  margin-top: 40px;
}

.advantages {
  margin-top: 120px;
}
.advantages-title {
  color: var(--white-1000);
}
.advantages-block__card-photo img {
  border-radius: 15px;
}
.advantages-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.advantages-block__card-photo {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
}
.advantages-block__card-photo img {
  max-width: 100%;
}
.advantages-block__card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 35px 25px;
  padding-left: 0;
  color: var(--white-1000);
  font-family: 'Roboto Flex', 'sans-serif';
}
.advantages-card__text {
  margin-top: 15px;
  line-height: 1.4;
}
.advantages-card__title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.advantages-card__icon-part {
  flex: 0 0 90px;
  display: flex;
  justify-content: center;
}
.advantage-icon {
  background-color: rgba(199, 162, 126, 0.1);
  border-radius: 5px;
  aspect-ratio: 1;
  width: 30px;
}

.home-hard-to-choose {
  margin-top: 120px;
  padding: 90px 0px;
  border-radius: 30px;
  background-color: var(--grey-900);
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.form__image {
  flex: 1 1 auto;
  max-width: 50%;

  display: flex;
  justify-content: center;

  border-radius: 30px;
  overflow: hidden;
}
.form__image img {
  display: block;
  height: 100%;
  max-width: 600px;
  border-radius: 30px;
}
.form__content {
  flex: 1 1 auto;
  padding: 60px 40px;

  background-color: var(--white-1000);
  border-radius: 30px;
}
.form__title {
  line-height: 1.2;
}
.form__subtitle {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  opacity: 0.7;

  margin-top: 35px;
  max-width: 470px;
}
.form__panel {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  width: 100%;
  
  gap: 30px;
}
.form__button {
  margin-top: 10px;
}
.form__input {
  background-color: rgba(199, 162, 126, 0.1);
  color: var(--grey-100);
  padding: 17px 0;
  border-radius: 50px;
  padding-left: 20px;
}
.form__input:hover {
  background-color: rgba(199, 162, 126, 0.15);
}
.form__input::placeholder {
  color: var(--black-1000);
  opacity: 0.7;
  font-size: 14px;
  font-family: 'Roboto Flex', sans-serif;
}


.brands {
  padding: 120px 0;
}
.brands__title {
  color: var(--white-1000);
}
.brands__content {
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}
.brand-card {
  min-height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-card--custom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 30px;
}
.brand-card__title {
  color: var(--white-1000);
  font-size: 28px;
  opacity: 0.9;
}
.brand-card__text {
  color: var(--white-1000);
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
}

.home-about {
  background-color: var(--grey-900);
  border-radius: 30px 30px 0px 0px;
  padding: 90px 0px;
}
.home-about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.home-about__image {
  flex: 1 1 auto;
  max-width: 50%;

  display: flex;
  justify-content: center;

  border-radius: 30px;
  overflow: hidden;
}
.home-about__image img {
  display: block;
  height: 100%;
  max-width: 600px;
  border-radius: 30px;
}
.home-about__content {
  flex: 1 1 auto;
  max-width: 50%;

  font-family: 'Roboto Flex', sans-serif;
  
  display: flex;
  flex-direction: column;
}
.home-about__subtitle {
  margin-top: 35px;
  color: var(--black-1000);
  line-height: 1.5;
  font-size: 24px;
}
.home-about__text {
  margin-top: 35px;
  color: var(--grey-500);
  line-height: 1.5;
}
.home-about__advantages {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.home-about__advantages-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  background-color: var(--white-1000);
  padding: 35px 20px;
  border-radius: 10px;
}
.home-about__advantages-number {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-100);
  flex: 0 0 70px;
}
.home-about__advantages-text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-1000);
}

.home-articles {
  padding: 30px 0px;
  background-color: var(--grey-900);
}
.home-articles__subtitle {
  margin-top: 30px;
  margin-bottom: 40px;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;

  color: #000000B3;
}

.home-questions-or-propositions {
  padding: 120px 0px;
  background-color: var(--grey-900);
}

.footer {
  padding: 60px 0;
  background-color: var(--primary-900);
  font-family: 'Roboto Flex', sans-serif;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.footer-column__title {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-100);
}
.footer-column__text {
  font-size: 14px;
  color: var(--black-1000);
  opacity: 0.7;
}

.footer-main-column {
  gap: 0;
}
.footer-column__under-logo {
  margin-top: 10px;

  font-family: 'Roboto Flex', sans-serif;
  font-size: 12px;
  color: var(--black-1000);
  opacity: 0.7;
}
.footer-social-media {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.footer-social-media__icons {
  display: flex;
  gap: 10px;
}
.footer-column__button {
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 14px;
}



/*----------------------------------category-----------------------------------*/
.subcategories {
  margin-top: 60px;
}
.subcategories .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;

  font-family: 'Roboto Flex', 'sans-serif';
}
.subcategory-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.subcategory-card__image {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.subcategory-card__name {
  color: var(--white-1000);
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}
.subcategory-card__quantity {
  color: var(--primary-100);
  font-size: 16px;
  margin-top: 5px;
  flex: 0 0 30px;
}

.product-browser {
  padding-top: 60px;
  padding-bottom: 100px;
}
.product-browser .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 24px;
  row-gap: 40px;
}
.product-browser__status {
  padding: 10px 40px;
  border-radius: 8px;
  background-color: var(--grey-200);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.product-browser__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.product-browser__badges {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-browser__badge {
  padding: 13px 30px;
  border-radius: 100px;
  background-color: var(--grey-200);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--white-1000);

  cursor: pointer;
}
.product-browser-sort {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0px;
  color: var(--white-1000);
  cursor: pointer;
}
.product-browser-filters {
  height: fit-content;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product-browser-filters__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-browser-filters__title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--primary-100);
}
.product-browser-filters__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-browser-filters__item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0px;
  color: var(--white-1000);

  cursor: pointer;
}
.product-browser__result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}



/*-------------------------------brand---------------------------------*/

.brand-description {
  margin-top: 80px;
}
.brand-description .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.brand-description__image {
  flex: 0 0 50%;
  border-radius: 20px;
  overflow: hidden;
}
.brand-description__image img {
  display: block;
  width: 100%;
}
.brand-description__content {
  font-family: 'Roboto Flex', 'sans-serif';
  color: var(--white-1000);
}
.brand-description__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 540px;
  margin-top: 30px;
}

.banner-info-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-info-cards__item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  padding-right: 10px;

  max-width: 200px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-1000);
  line-height: 1.3;
  font-family: 'Roboto Flex', 'sans-serif';
}
