@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-100: #C7A27E;
  --primary-900: #F9F6F2;

  --white-1000: #FFFFFF;
  --black-1000: #000000;

  --grey-100: #0B0C10;
  --grey-200: #1D242D;
  --grey-500: #909090;
  --grey-900: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1px;
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.body--fixed {
  height: 100dvh;
  overflow: hidden;
}

::-moz-selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}
::selection {
  background-color: var(--primary-100);
  color: var(--white-1000);
}

/* Null Styles */
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}
input {
  cursor: pointer;
  outline: none;
  border: none;
}

/* Components */
.button {}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

.section {}
.section__title {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Roboto Flex';
  line-height: 1.2;
  letter-spacing: 0;
}
.section__subtitle {
  font-size: 16px;
  font-family: 'Roboto Flex';
  line-height: 1.5;
  opacity: 0.7;
}

.palette {
  display: block;
  border-radius: 15px;
  background-color: var(--grey-200);
  transition: 0.3s;
}
.palette--active {
  box-shadow: 1px 1px 4px 0px var(--white-1000);
}
.palette--hoverable:hover {
  box-shadow: 1px 1px 4px 0px var(--white-1000);
}

/* Content */
.wrapper {
  min-height: 100%;
  width: 100%;
  background-color: var(--grey-100);
}

.header {
  width: 100%;
  position: relative;
}
.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.logo {
  height: 43px;
}
.logo img {
  height: 100%;
}
.header__center {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  gap: 15px;
}
.header-search {
  flex: 1 1 auto;
  padding-right: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--grey-200);
  border-radius: 100px;
}
.header-search__button {
  padding: 15px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 15px;

  background-color: var(--primary-100);
}
.header-search__button img {
  display: block;
  height: 20px;
}
.header-search__button span {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: var(--white-1000);
}
.header-search__input {
  display: block;
  flex: 1 1 auto;

  background-color: transparent;
  color: var(--white-1000);

  font-family: 'Roboto Flex';
  font-size: 14px;
}
.header-search__icon {
  height: 30px;
  cursor: pointer;
}
.header-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-phone__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-phone__hint {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
  margin-top: 5px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  opacity: 0.7;
  cursor: pointer;

  transition: 0.3s;
}
.header-icon:hover {
  opacity: 1;
}
.header-icon__text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-separator {
  border: none;
  border-bottom: 1px solid var(--white-1000);
}
.header-bottom {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav__link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;

  color: var(--white-1000);
  text-transform: uppercase;
}
.header-customers {
  padding: 16px 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--grey-200);
  color: var(--white-1000);

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.header-dropdown {
  width: 100%;
  padding: 20px 0px;

  position: absolute;
  z-index: 1;
  top: 100%;

  background-color: var(--grey-100);

  pointer-events: none;
  opacity: 0;
  height: 0;

  transition: 0.3s opacity;
}
.header-dropdown--opened {
  height: auto;
  pointer-events: auto;
  opacity: 1;
}
.header-customers-dropdown .container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.header-customers-dropdown-item {
  padding: 30px 45px;
  cursor: pointer;
  position: relative;
}
.header-customers-dropdown-item__title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: var(--primary-100);
  text-transform: uppercase;
}
.header-customers-dropdown-item__text {
  margin-top: 25px;
  width: 85%;

  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-customers-dropdown-item__link {
  position: absolute;
  right: 15px;
  bottom: 15px;

  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #C7A27E1A;
}
.header-customers-dropdown-item__link img {
  width: 16px;
}
.header-catalog-dropdown {
  display: flex;
}
.header-catalog-dropdown__left {
  flex: 0 0 auto;
  padding: 50px 20px 50px 10px;

  display: flex;
  justify-content: flex-end;

  background-color: var(--black-1000);
}
.header-catalog-dropdown-menu {
  width: 100%;
}
.header-catalog-dropdown-menu__link {
  display: block;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 30px;

  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-wrap: nowrap;
  text-transform: uppercase;
  color: var(--white-1000);

  padding: 25px 40px 25px 15px;
  border-radius: 8px;

  transition: 0.3s;
}
.header-catalog-dropdown-menu__link-icon {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-200);
}
.header-catalog-dropdown-menu__link-icon::after {
  content: '';

  width: 20px;
  aspect-ratio: 1;
  
  background-color: var(--white-1000);

  -webkit-mask-image: var(--path);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: (var(--path));
  mask-repeat: no-repeat;
  mask-size: contain;
}
.header-catalog-dropdown-menu__link:hover {
  background-color: var(--grey-200);
  color: var(--primary-100);
}
.header-catalog-dropdown__right {
  flex: 1 1 50%;
  padding: 50px 10px 50px 100px; 

  background-color: var(--grey-100);
}
.header-catalog-dropdown__title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: var(--white-1000);
}
.header-catalog-dropdown__links {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 30px;
}
.header-catalog-dropdown__link {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;

  color: var(--white-1000);
  opacity: 0.7;

  transition: 0.3s opacity;
}
.header-catalog-dropdown__link:hover {
  opacity: 1;
}

.main {}

.home-catalog {}

.home-order {}

.advantages {}

.form {
  background-color: var(--grey-900);
  border-radius: 30px;
  padding: 90px 0;
}
.form .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.form-image {
  flex: 1 1 auto;
  max-width: 50%;

  display: flex;
  justify-content: center;

  border-radius: 30px;
  overflow: hidden;
}
.form-image img {
  display: block;
  height: 100%; 
}
.form-content {
  flex: 1 1 auto;
  padding-left: 40px;
}
.form-content__text-subtitle {
  margin-top: 35px;
  max-width: 470px;
}
.form-content__panel {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  width: 100%;
  
  gap: 30px;
}
.form-content__button {
  margin-top: 10px;
  padding: 17px 0;
  border-radius: 50px;
  background-color: var(--primary-100);

  font-family: 'Roboto Flex';
  color: #ffffff;
  font-weight: 600;
}
.form-content__input {
  background-color: rgba(199, 162, 126, 0.1);
  color: var(--grey-100);
  padding: 17px 0;
  border-radius: 50px;
  padding-left: 20px;
}
.form-content__input:hover {
  background-color: rgba(199, 162, 126, 0.15);
}
.form-content__input::placeholder {
  color: var(--black-1000);
  opacity: 0.7;
  font-size: 14px;
  font-family: 'Roboto Flex';
}


.brands {}

.home-about {}

.home-articles {}

.footer {}
